.la-articles-container {
  margin-top: 60px;
}
.la-articles-container__title {
  font-size: 22px;
  font-weight: 500;
  color: #293039;
}
.la-articles-container__list {
  margin-top: 35px;
}

.la-articles-container__list__item {
  font-size: 16px;
  color: #3b2eb2;
  margin-bottom: 24px;
}
.la-articles-container__list__item__img {
  width: 72px;
  height: 72px;
  background-color: #e9eef2;
  border: none;
  margin-right: 8px;
}
.la-articles-container__list__item__content__date {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #94a1ac;
}

a {
  color: #666666;
}
