.class__comment__form {
  margin-top: var(--sizes_s48);
}
.class__comment__form__title {
  display: block;
  margin-bottom: var(--sizes_small);
}
.class__comment__form div,
.class__comment__form input,
.class__comment__form textarea {
  width: 100%;
}

.input-element {
  border-radius: 8px;
}

.class__comment__form__section_top {
  display: flex;
  margin-bottom: var(--sizes_s16);
}
.class__comment__form__section_top__name_input {
  margin-right: var(--sizes_s8);
}

.class__comment__form__section_top__email_input {
  margin-left: var(--sizes_s8);
  transition: 0.3s all;
}
.class__comment__form__section_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.class__comment__form__section_bottom__submit_button {
  margin-top: var(--sizes_s8);
  width: 190px;
  height: 52px;
  border-radius: 30px;
  background-color: #3b2eb2 !important;
  border: none;
  color: white !important;
  margin-bottom: 24px;
  font-weight: bold;
  align-self: end;
}
.class__comment__form--invalid input,
.class__comment__form--invalid textarea,
input.class__comment__form--invalid {
  border: 1px solid red;
  animation-name: elementor-animation-buzz-out;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* animation-name: spaceboots;
	animation-duration: 0.3s;
	transform-origin:50% 50%;
	animation-timing-function: linear; */
}

.comment-send__btn {
}
.class__comment__form__send_successful {
  display: block;
  background: var(--colors_green);
  padding: var(--sizes_small);
  border-radius: var(--sizes_small);
  color: var(--colors_white);
  font-size: var(--sizes_s16);
  margin-top: var(--sizes_s160);
  margin-bottom: var(--sizes_s160);
}

@keyframes elementor-animation-buzz-out {
  10% {
    transform: translateX(8px);
  }

  20% {
    transform: translateX(-8px);
  }

  30% {
    transform: translateX(8px);
  }

  40% {
    transform: translateX(-8px);
  }

  50% {
    transform: translateX(7px);
  }

  60% {
    transform: translateX(-7px);
  }

  70% {
    transform: translateX(7px);
  }

  80% {
    transform: translateX(-7px);
  }

  90% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px);
  }
}
@media (max-width: 541px) {
  .class__comment__form__section_top {
    flex-direction: column;
  }
  .class__comment__form__section_top__email_input {
    margin-right: 0;
    margin-top: var(--sizes_s16);
  }
  .class__comment__form__section_bottom {
    align-items: center;
  }
}
